@font-face {
    font-family: 'VALORANT';
    src: url('VALORANT-Regular.woff2') format('woff2'),
        url('VALORANT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

