@import url('./fonts/valorant.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


@import 'tailwindcss';

.valo-font {
    font-family: 'VALORANT';
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'VALORANT';
    font-weight: normal;
    font-style: normal;
}
.monts{
  font-family: 'Montserrat', sans-serif;

}
p{
  font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}